.hengtiao{
    width: 100%;
    height: 150px;
    background-color:aliceblue;
}
.heng{
    width: 100%;
    height: 50px;
    background-color:rgb(2, 10, 17);
}
.logow{
    position:absolute;   
    left:300px;
    top:0px;
}
.categoty{
    position: absolute;
    left: 300px;
    top: 210px;
    width:30%;
    height:60%;
}
.catename{
    position: absolute;
    left:46.5%;
    top: 210px;
    width: 30%;
    font-family: SimHei;
    font-size: 30px;
}
#wrap {
    position: absolute;
    right: 200px;
    top: 50px;
    margin: 20px auto;
}
 
#wrap br {
    display: none;
}
 
.btn-slide, .btn-slide2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #0099cc;
    margin: 10px;
    transition: .5s;
}
 

 
.btn-slide:hover {
    background-color: #131618;
}

 
.btn-slide:hover span.title, .btn-slide2:hover span.title2 {
    right: 40px;
    opacity: 0;
}
 
.btn-slide:hover span.title-hover, .btn-slide2:hover span.title-hover2 {
    opacity: 1;
    right: 40px;
}
 
.btn-slide span.circle, .btn-slide2 span.circle2 {
    display: block;
    background-color: #0099cc;
    color: #fff;
    position: absolute;
    float: right;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    right: 0;
    transition: .5s;
    border-radius: 50%;
}
 

 
.btn-slide span.title,
  .btn-slide span.title-hover, .btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    position: absolute;
    right: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #30abd5;
    transition: .5s;
}
 
.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
    color: #fff;
}




.tip{
    position: absolute;
    top:350px;
    left:46.5%;
    width: 30%;
    font-family: SimHei;
    font-size: 20px;
    color:darkgoldenrod;
}
.price{
    position: absolute;
    left:46.5%;
    top:440px;
    font-size: 25px;
    font-family: times;
    color:darkgray;
    width: 30%;
    height: 50px;
    background-color:rgb(227, 227, 228);
}
.dd{
    color: red;
    position: absolute;
    left:54%;

    
}
.la{
    border-radius: 25px;
    background-color:rgb(41, 41, 44);
    height: 50px;
    position: absolute;
    width: 7%;
    left:46.5%;
    top:520px;
}
.ziti{
    color: rgb(224, 217, 217);
    font-size: 20px;
    text-align: center;
    position: relative;
    top:20%;
    left: 20%;
}

.clr-item {
    display: block;
    position: absolute;
    width: 15%;
    height: 50px;
    line-height: 38px;
    color: #666;
    white-space: nowrap;
}
.clr-item .zil{
    /* font-size: 15px; */
    color: #131618;
    font: normal 17px/1.5 Arial,Microsoft YaHei,SimSun;
    top: 21%;
}
.jia{
    position:absolute;
    top: 900px;
    background-color: darkorange;
    width: 8%;
    height: 5%;
    border-radius: 15px;

}